.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card {
    margin-bottom: 15%;
}

.info {
    text-align: right;
    font-weight: bold;
    color: black;
}

.card-footer {
    text-align: right;
}

.title {
    text-decoration: none;
    justify-content: center;
    .card-title{
        color: black;
        text-decoration: none;
        
    }
    a {
        color: black;
    }
}



