.main-heading {
    text-align: center;
    padding: 25px;
    font-family: 'Helvetica Neue';
}

.weblink {
    text-decoration: none;
}

.btn-custom {
    background-color: #80cfb7 !important;
    color: white !important;
    align-content: center !important;
  }